[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:ChessBoard.kicad_pcb]
search = gr_text "Chess board\nv{current_version}"
replace = gr_text "Chess board\nv{new_version}"

[bumpversion:file:ChessBoard.kicad_sch]
search = rev "{current_version}"
replace = rev "{new_version}"

[bumpversion:file:halls.kicad_sch]
search = rev "{current_version}"
replace = rev "{new_version}"

[bumpversion:file:halls2.kicad_sch]
search = rev "{current_version}"
replace = rev "{new_version}"